<ul class="list-group">
	<li class="list-group-item">Number of cases: <%= @user.cases.count %></li>
	<li class="list-group-item">Cases Open: <%= @open_cases %></li>
	<li class="list-group-item">Fixed Cases: <%= @fixed_cases %></li>
	<li class="list-group-item">Closed Cases: <%= @resolved_cases %></li>
</ul>