<nav class="white button-collapse" role="navigation">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
     <li> <%= link_to "Home", root_url %> </li>
     <li> <%= link_to "Cases", cases_path %> </li>
     <li> <%= link_to "Profile", user_path(current_user) %> </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- add a notifications item to the navbar -->
  </div>
</nav>

