<!-- Partial for all metas to avoid clustering up application.html.erb -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
<title>Material Portfolio Template Demo</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="turbolinks-cache-control" content="no-cache">